/*General Style*/
* {
    font-family: 'Ubuntu', 'Arial', 'Helvetica', sans-serif;
}
html {
    overflow-x: hidden
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../styles/tealfoxxo-background.png");
    
    gap: 1rem;
    margin: 0;
    width: auto;
}

/*Header and Footer*/
header, footer, .textbox {
    background-color: #0f121a;

    display: flex;
    gap: 0.8rem;
    color: #eaeaea;
}
header, footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    padding: 1.5rem 0;
    gap: 2rem;
}
footer {
    margin-top: 4rem;
}
header > *, footer > p {
    width: auto;
    padding: 0 2rem;
}

/*Body*/
.textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: initial;

    width: auto;
    max-width: 55rem;
    padding: 2rem 1rem;

    border-radius: 0.5rem;
}

/*For Artpages*/
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 0.1rem
}
.grid > a > img {
    height: 10rem;
    width: auto;
}
a > img ~ * { /*Artwork Titles*/
    font-size: 0.8rem;
    max-width: 10rem;
    margin: 0 0 0.3rem 0;
    
    text-align: center;
    overflow-wrap: break-word;
}

/*For writing pages*/
.posts {
    width: 100%;
}
.covers + p {
    font-size: 0.8rem;
    font-style: italic;
    text-align: right;

    color: #cccccc;
}
.posts > a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*For Warning Pages*/
.modal, .exclamation-mark {
    display: flex;
    align-items: center;

    border-radius: 0.5rem;

    background-color: #27273c;
    color: #eaeaea;
}
.modal-container {
    display: flex;
    justify-content: center;
}
.modal {
    flex-direction: column;
    text-align: center;
    max-width: 30rem;
    height: auto;

    padding: 2.5rem 5rem;
    margin: 0.5rem;

    border-radius: 0.3rem;
}
.exclamation-mark {
    justify-content: center;
    font-size: 8rem;

    background-color: orangered;
    border-radius: 50rem;
    color: black;

    width: 9rem;
    height: auto;
}

/*Link-boxes*/
.menu, .links, .list {
    display: flex;
    flex-wrap: wrap;

    gap: 1.4rem;
    margin: 0;
    padding: 0;

    list-style: none;
    background-color:#27273c;
}
.menu {
    background: none;
    padding: 0.5rem 1rem;
}
.links {
    gap: 0.3rem 2rem;
    padding: 1rem; 
    border-radius: 0.5rem;
}

/*Lists*/
.list {
    list-style: square;
    gap: 0.2rem 3rem;
    background-color: #0f121a;
    padding: 0.3rem 1rem;
}
ol {
    margin: 0.2rem 0.55rem;
}

/*Pictures*/
img {
    border-radius: 0.5rem;
}
.covers {
    height: auto;
    width: 100%;
}
.thumbs {
    height: 10rem;
    width: 10rem;
}

/*Fonts*/
h1 {
    background-color: #27273c;
    color: #c2fbff;

    padding: 0.5rem 2rem;
    border-radius: 0.6rem;

    font-size: 3.5rem;

}
h2 {
    font-size: 2rem;
    margin: 0.3rem 1rem;
    color: #ffecc2;
}
h3 {
    font-size: 1.2rem;
    margin: 0.1rem 1rem;
    color: #ffd1c2;
}
a {
    text-decoration: none;
    color: #c0ffe5;
}
p {
    margin: 0;
    padding: 0.3rem 0;
}

a:hover, a:visited:hover, a:hover > *, a:visited:hover > * {
    background-color: #c0ffe5;
    color: #0f121a;
    border-radius: 0.2rem;
}
a:visited {
    color: #c0eeff;
}


